---
---
.btn-outline-primary:hover {
  color: #eceff4;
  background-color: #5e81ac;
  border-color: #5e81ac;
}

.btn-outline-primary {
  color: #81a1c1;
  border-color: #81a1c1;
}
.badge-primary {
  color: #fff;
  background-color: #81a1c1;
}
.bg-success {
  background-color: #a3be8c !important;
}
a.bg-success:focus, a.bg-success:hover, button.bg-success:focus, button.bg-success:hover {
  background-color: #98b083 !important;
}
.border-primary {
  border-color: #81a1c1 !important;
}
.bg-danger {
  background-color: #bf616a !important;
}
a.bg-danger:focus, a.bg-danger:hover, button.bg-danger:focus, button.bg-danger:hover {
  background-color: #9d5158 !important;
}
.bg-primary {
  background-color: #81a1c1 !important;
}
.link-after, .nav-link::after, .navbar-brand::after, .nav-item.active::after {
  content: "";
  display: block;
  height: 0.15em;
  background: #81a1c1;
}
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #3b4252;
  text-align: left;
  background-color: #eceff4;
}
@import "portfolYOU";
