---
---
.btn-outline-primary:hover {
  color: #eceff4;
  background-color: #5e81ac;
  border-color: #5e81ac;
}

.btn-outline-primary {
  color: #81a1c1;
  border-color: #81a1c1;
}
.link-after, .nav-link::after, .navbar-brand::after, .nav-item.active::after {
  content: "";
  display: block;
  height: 0.15em;
  background: #81a1c1;
}
@import "portfolYOU";
